@import "tailwindcss";

:root {
  --color-weblue: #27b1b2;
  --color-weChat: #b5e2e2;
  --background-chatPattern: url("/chatpageBg.png");
  --font-xxs: 8px;
  --lineHeight-xxs: 10px;
}

@theme {
  --color-weblue: var(--color-weblue);
  --color-weChat: var(--color-weChat);
  --background-chatPattern: var(--background-chatPattern);
  --font-xxs: var(--font-xxs);
  --lineHeight-xxs: var(--lineHeight-xxs);
}

:root {
  --background: white;
  --foreground: black;
}

.weInputContainer {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.weinputdiv {
  border: 2px solid var(--color-weblue);
  border-radius: 22px;
}

.weLabelDiv {
  position: flex;
  height: 10px;
  width: fit-content;
}

.weLabel {
  color: var(--color-weblue);
  position: absolute;
  background: white;
  margin-left: 28px;
  padding-left: 2px;
  padding-right: 2px;
}
.weinput {
  min-width: 300px;
  max-width: 800px;
  border: 0px solid white;
  height: 30px;
  padding-left: 9px;
  margin: 10px;
  margin-top: 12px;
}

.weinput:focus {
  outline: none;
}

.weButton {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: var(--color-weblue);
  border-radius: 0.5rem;
  width: 60px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
